h1{
    font-weight: 700;
    font-size: 50px;
    margin: 10px;
    margin-bottom: 20px;
}

input{
    width: 100%;
}
.items{
    text-align: left;
}
.AS-row{
    margin: 10px 5px;
}
.btns{
    width: 80px;
}
.todo-container{
   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}